<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <title th:text="${title}"></title>

   <link rel="stylesheet" type="text/css" href="common.css" />
</head>

<body>
   <h1 th:text="${title}"></h1>

   <form action='/page3.html' method='post'>
      <div class='form-group'>
         <label for='movietype_drop'>Select the type Movie Type (Dropdown):</label>
         <select id='movietype_drop' name='movietype_drop'>
            <!-- This is where the movies types are populated -->
            <option th:each="type : ${types}" th:text="${type}"></option>

         </select>
      </div>
      <div class='form-group'>
         <label for='movietype_textbox'>Select the type Movie Type (Textbox)</label>
         <input class='form-control' id='movietype_textbox' name='movietype_textbox'>
      </div>
      <button type='submit' class='btn btn-primary'>Submit</button>
   </form>

   <!-- Display movies. Use check of the size of the array list to optionally show the UL -->
   <h2 th:text="${title_drop}"></h2>
   <ul th:if="${#lists.size(movies_drop) > 0}">
      <li th:each="movie : ${movies_drop}" th:text="${movie}"></li>
   </ul>

   <!-- Display movies. Use check of the size of the array list to optionally show the UL -->
   <h2 th:text="${title_text}"></h2>
   <ul th:if="${#lists.size(movies_text) > 0}">
      <li th:each="movie : ${movies_text}" th:text="${movie}"></li>
   </ul>

   <p>
      Return to Homepage:
      <a href='/'>Link to Homepage</a>
   </p>
</body>

</html>